
@import util

html
  height: 100%

body
  @include column
  /* font-family: 'Open Sans', sans-serif
  font-family: 'Alegreya', serif
  /* font-family: 'Exo 2', sans-serif
  font-size: $font-size
  height: 100%
  margin: 0px

#page
  height: 100%


#logo-link
  @include row

.quaint-word
  font-family: 'Exo 2'
  font-weight: 800
  /* font-family: 'Alegreya'
  /* font-weight: 900

#nav > a
  text-decoration: none

.navlink > a
  line-height: $header-height
  display: inline-block
  color: white
  text-decoration: none
  display: inline-block

.navlink:hover > a
  color: orange


#nav-container
  position: fixed
  left: 0px
  top: 0px

#main-container
  margin-top: $header-height
  padding-bottom: $foot-height


#nav-container
  /* background-color: #92785e
  width: 100%
  background-color: #5e2d0c
  color: white
  #nav
    @include rownav
    font-family: 'Exo 2'
    height: $header-height
    > .filler
      flex-grow: 1
    > #logo-link
      > *
        margin-right: 20px
      > .quaint-word
        color: #f0c8a0
      > .logo
        height: $header-height - 10px
    > *
      margin-right: 20px

#present-container
  background-color: #6e3d1c
  /* background-color: #c89767
  /* background-color: #f0c8a0
  #present
    @include column
    align-items: center
    color: white
    > .logo
      margin-top: 40px
      margin-bottom: 20px
    > .quaint-description
      color: #c89767
      font-size: 25pt
      margin-bottom: 20px
    .quaint-word
      color: #f0c8a0
      display: inline-block
      vertical-align: middle
      font-size: 40pt

$padding: 30px
$perrow: 2
.selling-points
  @include row
  flex-wrap: wrap
  align-items: flex-start
  width: $main-width
  > div
    box-sizing: border-box
    padding: $padding
    width: $main-width / $perrow
    > .title
      font-weight: bold
      font-size: 20pt
    > .description
      font-style: italic
      font-size: 16pt


#main-container
  background-color: #eee
  flex-grow: 1
  #main
    @include block
    padding-top: 30px

#foot-container
  background-color: #5e2d0c
  #foot
    @include rownav
    color: white
    height: $foot-height


#sidebar
  position: fixed
  left: 0px
  top: 0px
  height: 100%
  padding-top: $header-height
  padding-bottom: $foot-height
  width: 400px
  box-sizing: border-box
  #sidebar-contents
    height: 100%
    overflow: auto


ul.toc
  padding-left: 30px
  list-style-type: none
  ul
    padding-left: 20px
    list-style-type: none
  a
    /* position: relative
    color: #000
  a.selected
    font-weight: bold
  a.selected:before
    position: absolute
    left: 10px
    content: "\25B6"

ul.toc li
  padding-bottom: 0px

@media screen and (max-width: $main-width+500px)
  #sidebar
    display: none
