
@import mixin


/* BODY


body
  line-height: 1.2

#main.container
  margin-bottom: 100px


/* NAV

#logo-link
  @include row
  align-items: center
  > *
    margin-right: 20px
  > .quaint-word
    color: #f0c8a0
    font-size: 20px
  > img
    height: 30px

@media screen and (max-device-aspect-ratio: 99/100)
  #logo-link
    > .quaint-word
      font-size: 60px
    > img
      padding-right: 10px
      height: 80px



/* .nav-container-desktop
/*   position: fixed
/*   top: 0px

/* #present-container, #main-container
/*   padding-top: 30px

/* .nav-main > ul > li > a
/*   line-height: 30px

.quaint-word
  font-family: "Exo 2"
  font-weight: 800

.spacer
  flex-grow: 1

/* #sidebar
/*   position: fixed
/*   left: 0px
/*   top: 0px
/*   height: 100%
/*   padding-top: 30px
/*   padding-bottom: 30px
/*   width: $width-sidebar
/*   box-sizing: border-box
/*   #sidebar-contents
/*     position: relative
/*     height: 100%
/*     overflow: auto

ul.toc
  padding-left: 30px
  list-style-type: none
  .toc-expand:before
    display: inline-block
    width: 20px
    content: "+"
    color: white
    text-align: center
    font-weight: bold
    background: #5e2d0c
    margin-left: 10px
    border-radius: 5px
    cursor: pointer
  li.expanded > .toc-expand:before
    content: "-"
  li.active > .toc-expand:before
    background: #aaa
  ul
    @include height-out
    padding-left: 20px
    list-style-type: none
    overflow: hidden
  li.active > a
    font-weight: bold
  li.active > ul, li.expanded > ul
    @include height-in(1000px)
  a
    color: #000
  a.selected:before
    position: absolute
    left: 10px
    content: "\25B6"

ul.toc li
  padding-bottom: 0px

@media screen and (max-width: $width-body + $width-sidebar * 2 + 100px)
  #sidebar
    display: none



/* INDEX

#present-container
  background-color: #6e3d1c
  /* background-color: #c89767
  /* background-color: #f0c8a0
  #present
    @include column
    align-items: center
    color: white
    > .logo
      margin-top: 40px
      margin-bottom: 20px
    > .quaint-description
      color: #c89767
      font-size: 25pt
      margin-bottom: 20px
    .quaint-word
      color: #f0c8a0
      display: inline-block
      vertical-align: middle
      font-size: 40pt

$padding: 30px
$perrow: 2
.selling-points
  @include row
  flex-wrap: wrap
  align-items: flex-start
  width: $width-body
  > div
    box-sizing: border-box
    padding: $padding
    width: $width-body / $perrow
    > .title
      font-weight: bold
      font-size: 20pt
    > .description
      font-style: italic
      font-size: 16pt

#comparison .comparison
  @include row
  width: 1000px
  margin: auto
  line-height: 140%
  > :first-child .lang
    background: #aaa
  > *
    background-color: white
    margin: 10px
    border-radius: 10px
    width: 50%
    height: 380px
    overflow: auto
    > *
      padding: 8px
    pre
      border-left: 0px
      font-size: 12pt
      word-wrap: break-word
      white-space: pre-wrap
      
    .lang
      font-size: 16pt
      background: #5e2d0c
      text-align: center
      font-weight: bold
      color: white
      font-family: Alegreya

@media screen and (max-width: $width-body + $width-sidebar * 2 + 100px)
  #comparison .comparison
    @include column


/* EDITION

.quaint-interactive
  @include row
  align-items: flex-start
  margin-top: 5px
  margin-bottom: 5px
  .quaint-input
    width: 50%
    border-left: 5px solid purple
    padding-left: 8px
  .quaint-input textarea
    width: 100%
    font-size: 12pt
    background-color: transparent
    border: 0px
  .quaint-output
    width: 50%
    margin-left: 10px
    border-left: 5px solid green
    padding-left: 8px
    > ul:first-child, > ol:first-child, > p:first-child, > pre:first-child,
    > h1:first-child, > h2:first-child, > h3:first-child,
    > h4:first-child, > h5:first-child, > h6:first-child
      margin-top: 0px
    > ul:last-child, > ol:last-child, > p:last-child, > pre:last-child,
    > h1:last-child, > h2:last-child, > h3:last-child,
    > h4:last-child, > h5:last-child, > h6:last-child
      margin-bottom: 0px

#instructions .quaint-interactive
  .quaint-input
    border-left: 0px
  .quaint-input textarea
    background-color: white
  .quaint-output
    border-left: 0px

/* HEADERS

$h1sz: 20px
h1
  position: relative
h1:before
  @include lsquare($h1sz, 1)
  background-color: #5e2d0c
  color: white
  content: ""

$h2sz: 10px
h2
  position: relative
h2:before
  @include ldisk($h2sz, 1)
  background-color: #aaa
  color: white
  content: ""

.quaint-output h1:before, .quaint-output h2:before
  display: none

