
@import util

html, body, #page
  height: 100%

#tryit
  margin-top: $header-height
  padding-top: 20px
  padding-bottom: 20px
  /* padding-left: 40px
  /* padding-right: 40px
  background-color: #eee
  flex-grow: 1
  @include column
  align-items: center
  .quaint-example
    width: 1300px
    align-items: stretch
    flex-grow: 1
    .input
      @include column
    .input textarea
      flex-grow: 1
      height: 100%
      background-color: white
      z-index: 100
    .input
      border-left: 0px
      width: 500px
    .output
      border-left: 0px
      width: 700px
